body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

button:hover{
  cursor: pointer;
}

.titulo{
 
  margin-top:20px;
  margin-bottom: 15px;
  text-align: center;
}

.card{
    background-color: green;
    border-radius: 10px;
    width: 145px;
    height: 220px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 0px;
}

.cards_div{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}


.titulo{
 
    margin-top:20px;
    margin-bottom: 15px;
    text-align: center;

}

.card_front_img{
    width: 130px;
    border-radius:4px;
    margin-top:8px;
    margin-bottom: 12px;
}

.card_front_margin{
    text-align: center;
    margin: 0px;
}

.card_back_titulo{
  padding: 0px; 
  margin: 0px;
}











